html {
  text-align: center; 
  font-family: "Verdana"
}

a {
  text-decoration: none;
  color: #005ce6;
}

a:hover {
  color: #3485ff;
  transition: 0.3s color;
}

img, h3, .example, form {
  margin-bottom: 2.0rem;
}

img {
  margin-top: 1.0rem;
}

.example {
  display: block;
}

form {
  display: inline-block;
  padding: 1.0rem;
  text-align: left;
}

label {
  display:block;
  font-size: 0.75rem;
  padding-left: 0.25rem;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.35rem;
  caret-color: #004400;
}

button {
  background: #004400;
  color: white;
  padding: 0.25rem 0.5rem;
  border: 1px solid #004400;
  border-radius: 5px;
  margin-left: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #009100;
  transition: 0.3s background-color;
}

.notice {
  font-weight: 600;
}